body {
	background-image: url("../images/bebe.jpg");
	background-repeat: no-repeat;
	/*background-color: #92a8d1;;*/
}

h1 {text-align:center; padding: 12px 20px;}
#bubble { float:left; }
#right_top {text-align:center;padding: 12px 20px;}
#right_bottom { text-align:center;}

input[type="range"] {
    position: relative;
    margin-left: 1em;
    height: 65px;
    width : 300px;
    padding: 20px 40px;

}

input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}

input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}


